.article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.article__content {
  max-inline-size: 61ch;
}

.article__tags {
  display: flex;
  gap: 1rem;
}

/* tags */

.tag {
  padding: var(--spacer-2) var(--spacer-4);
  outline: none;
  /* color: ; */
}

.html {
  --languageColor: #264de4;
  background-color: var(--languageColor) !important;
}

.css {
  --languageColor: #e34f26;
  background-color: var(--languageColor) !important;
}
