.page-title {
  margin-block-end: 6rem;
  color: rgba(var(--text-color), var(--high-emphasis-text-dark));
}

.articles {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.article__header {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-4);
}

.article__content {
  max-inline-size: 61ch;
}

.article__tags {
  display: flex;
  gap: 1rem;

  text-align: center;
}

/* tags */

.tag {
  padding: var(--spacer-2) var(--spacer-4);
  outline-color: transparent;

  /* color: ; */
}

.tag:empty {
  display: none;
}

.html {
  --languageColor: #264de4;
  background-color: var(--languageColor);
}

.css {
  --languageColor: #e34f26;
  background-color: var(--languageColor);
}

.js {
  --languageColor: #ffc600;
  background-color: var(--languageColor);
}
