.card {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacer-fluid-16-32);
  justify-content: center;
  align-items: center;
}

.card__image {
  inline-size: clamp(9.38rem, calc(7.59rem + 8.93vw), 15.63rem);
  block-size: clamp(9.38rem, calc(7.59rem + 8.93vw), 15.63rem);

  border: clamp(0.5rem, calc(0.43rem + 0.36vw), 0.75rem) solid
    rgba(var(--grey-000));

  border-radius: 50%;

  box-shadow: var(--box-shadow-rest);
}

.card__info {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacer-16);
}

.card__image,
.card__title,
.card__subtitle,
.card__footer {
  display: flex;
  justify-content: center;
}

/* prettier-ignore */

.card__title {
font-size: var(--fs-fluid-1);  
color: rgba(var(--grey-000), var(--high-emphasis-text-dark));

}

.card__subtitle {
  font-size: var(--fs-fluid--1);
  color: rgba(var(--grey-000), var(--low-emphasis-text-dark));
}

.card__copy {
  max-inline-size: 60ch;
}

.card__footer {
  gap: var(--spacer-16);
  margin-block-start: var(--spacer-16);
}

[color-scheme='dark'] .card__image {
  border: clamp(0.5rem, calc(0.43rem + 0.36vw), 0.75rem) solid
    rgba(var(--grey-600));
}

@media (min-width: 834px) {
  .card__image,
  .card__title,
  .card__subtitle,
  .card__footer {
    justify-content: flex-start;
  }
}
