.card {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--spacer-16);
  place-items: center;
}

.card * {
  place-items: center;
}

.card__image {
  min-inline-size: 150px;
  max-inline-size: 150px;
  min-block-size: 150px;
  max-block-size: 150px;

  border: 8px solid rgba(var(--grey-000));
  /* desktop */
  /* border: 12px solid rgba(var(--grey-000)); */
  border-radius: 50%;

  box-shadow: var(--box-shadow-rest);
}

.card__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--spacer-16);
}

.card__title {
  color: rgba(var(--grey-000), var(--high-emphasis-text-dark));

  /* desktop */
  /* font-size: var(--fs-base); */
  margin-block-end: 0;
}

.card__subtitle {
  color: rgba(var(--grey-000), var(--low-emphasis-text-dark));
  font-size: var(--fs-xs1);
}

.card__copy {
  /* max-inline-size: 26ch; */
}

.card__footer {
  display: flex;
  gap: var(--spacer-16);
  margin-block-start: var(--spacer-16);
}

[color-scheme='dark'] .card__image {
  border: 8px solid rgba(var(--grey-600));
  /* desktop */
  /* border: 12px solid rgba(var(--grey-600)); */
}
