.theme-switcher-and-logo,
.menu {
  display: flex;
  align-items: center;
  gap: var(--spacer-fluid-16-32-24x);
}

.menu-and-filter {
  display: flex;
  gap: var(--spacer-8);
}

.hamburger {
  display: grid;
  place-items: center;

  min-inline-size: 28px;
  min-block-size: 28px;
  border: none;
  background-color: transparent;
}

/* this setting is set in reset.css but in More Contrast in firefox this is needed again */
.hamburger:is(:hover, :focus) {
  outline-offset: 0;
  outline-width: 0.1rem;
  outline-style: solid;
  outline-color: canvasText;

  border-radius: var(--spacer-4);
}

.hamburger:is(:focus-visible) {
  outline-style: dashed;
}

.menu {
  position: absolute;
  inset-inline: calc(clamp(1rem, calc(0.57rem + 2.14vw), 2.5rem) * -1);
  inset-block-start: clamp(3rem, calc(1.96rem + 6vw), 6rem);

  border-block-end: 1px solid;
  border-color: rgba(var(--primary-color));

  overflow: hidden;
}

.menu__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  gap: var(--spacer-fluid-16-32);

  inline-size: 100%;
  block-size: 0;

  padding-inline: var(--spacer-fluid-16-40);

  visibility: hidden;

  /* unable to transition when using clamp for block-size */
  /* transition: block-size 1s, padding-block 1s; */
}

.open .menu__links {
  /* able to transition if I use 4rem alone */
  block-size: clamp(1rem, 50%, 4rem);
  padding-block: 0.5rem;
  visibility: visible;
}

.menu__links li {
  position: relative;
}

.menu__links a {
  white-space: nowrap;
  color: rgba(var(--nav-link-text-color));
  outline: none;
}

.menu__links li a:is(:hover, :focus)::before {
  inline-size: 100%;
  inset-inline-start: 0;
}

.menu__links li a::before {
  content: '';
  position: absolute;
  inset-inline-start: 50%;
  inset-block-end: 0;

  inline-size: 0;
  block-size: 2px;
  background-color: rgba(var(--primary-color));
  transition: inline-size 0.3s, left 0.3s;
}

.nested-menu {
  display: none;
}

@media (width >= 53rem) {
  .menu {
    all: unset;
  }

  .menu__links {
    display: flex;
    flex-wrap: nowrap;
    gap: var(--spacer-fluid-16-32);

    block-size: initial;
    padding-inline: 0;

    visibility: visible;
  }

  .hamburger {
    display: none;
  }
}
