.palettes {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-16);
  align-items: end;

  position: absolute;
  inset-inline-end: var(--spacer-fluid-16-40);
  inset-block-start: 10rem;
  visibility: hidden;
  background-color: none;
}
.show-palettes {
  visibility: visible;
}

<<<<<<< HEAD
.palettes button {
  border: none;
}

=======
>>>>>>> themes
.palette {
  display: inline-block;
  inline-size: 30px;
  block-size: 30px;
  border-radius: var(--spacer-4);
  outline: 1px solid canvas;
}

.palette:focus-visible {
  outline-width: 2px;
  outline-color: canvas;
}

.palette:active {
  outline-color: red;
}

.mainPalette {
  background-color: rgba(var(--primary-color));
}

.aquatic {
<<<<<<< HEAD
  background-color: rgba(var(--aquatic-contrast-theme));
}
.desert {
  background-color: rgba(var(--desert-contrast-theme));
=======
  background-color: rgba(var(--aquatic-contrast-theme-bg-clr));
}
.desert {
  background-color: rgba(var(--desert-contrast-theme-bg-clr));
>>>>>>> themes
}
.dusk {
<<<<<<< HEAD
  background-color: rgba(var(--dusk-contrast-theme));
}
.night {
  background-color: rgba(var(--night-sky-contrast-theme));
=======
  background-color: rgba(var(--dusk-contrast-theme-bg-clr));
}
.night {
  background-color: rgba(var(--night-sky-contrast-theme-bg-clr));
>>>>>>> themes
}

@media (width >= 20rem) {
  .palettes {
    inset-block-start: clamp(9.81rem, calc(7.01rem + 14.02vw), 19.63rem);
  }
}

@media (width >= 27.625rem) {
  .palettes {
    inset-block-start: clamp(8rem, calc(4.46rem + 12.83vw), 16rem);
  }
}

@media (width >= 53rem) {
  .palettes {
    inset-block-start: 6rem;
    visibility: visible;
  }
}

@media (width >= 56.625rem) {
  .palettes {
    inset-block-start: clamp(6rem, calc(-4.18rem + 17.98vw), 10rem);
  }
}
