.cards-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

.skill-card {
  display: inline-flex;
  align-items: flex-start;
  gap: var(--spacer-8);

  /* desktop */
  /* gap: var(--spacer-16); */

  padding: var(--spacer-8);
  border-radius: var(--spacer-8);
  box-shadow: var(--box-shadow-rest);
  transition: ease-in-out box-shadow 0.15s, ease-in-out transform 0.15s;
  --btn-bg-opacity: var(--opacity-04-dark);
  background-color: rgba(var(--grey-000), var(--btn-bg-opacity));
}

.skill-card:is(:hover, :focus) {
  --btn-bg-opacity: var(--opacity-20-dark);
  box-shadow: var(--box-shadow-hover);
  cursor: pointer;
  transform: scale(1.01);
}

.skill-card:active {
  --btn-bg-opacity: var(--opacity-09-dark);
  transform: var(--scale-active);
  box-shadow: var(--box-shadow-active);
}

.skill-card__info {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-8);

  /* desktop */
  /* gap: var(--spacer-16); */
}
.skill-card__title {
  color: rgba(var(--grey-000), var(--high-emphasis-text-dark));
  /* font-size: var(--fs-m); */
  margin-block-end: 0;
}

.skill-card__copy {
  /* max-inline-size: 26ch; */
}

/* ------------------------------------------------- */
/* svg fill styles */
.vsc-svg-all-fill {
  fill: rgba(60, 153, 212, 1);
}

.html-svg-monitor-fill {
  fill: rgba(228, 77, 38, 1);
}

.css-svg-monitor-fill {
  fill: rgba(38, 77, 228, 1);
}

.tailwind-svg-monitor-fill {
  fill: rgba(6, 182, 212, 1);
}

.javascript-svg-monitor-fill {
  fill: rgba(240, 219, 79, 1);
}

.git-svg-all-fill {
  fill: rgba(240, 80, 51, 1);
}

.github-svg-all-fill {
  fill: rgba(22, 22, 20, 1);
}

.nodejs-svg-monitor-fill {
  fill: rgba(104, 160, 99, 1);
}
.nodejs-svg-all-fill {
  fill: rgba(51, 51, 51, 1);
}

.python-svg-body-fill {
  fill: rgba(55, 162, 210, 1);
}
.python-svg-leg-fill {
  fill: rgba(238, 227, 63, 1);
}

.svelte-svg-all-fill {
  fill: rgba(255, 62, 0, 1);
}
