.skill-card {
  display: inline-flex;
  gap: var(--spacer-16);
  padding: var(--spacer-16);
  border-radius: var(--spacer-8);
  box-shadow: var(--box-shadow-rest);
  transition: ease-in-out box-shadow 0.15s, ease-in-out transform 0.15s;
}

.skill-card:is(:hover, :focus) {
  box-shadow: var(--box-shadow-hover);
  cursor: pointer;
  transform: scale(1.01);
}

.skill-card:active {
  transform: var(--scale-active);
  box-shadow: var(--box-shadow-active);
}

.skill-card__info {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-16);
}
.skill-card__title {
  font-size: var(--fs-m);
  margin-block-end: 0;
}

.skill-card__copy {
  max-inline-size: 60ch;
}

/* ------------------------------------------------- */
/* svg fill styles */
.vsc-svg-all-fill {
  fill: #3c99d4;
}

.html-svg-monitor-fill {
  fill: #e44d26;
}

.css-svg-monitor-fill {
  fill: #264de4;
}

.tailwind-svg-monitor-fill {
  fill: #06b6d4;
}

.javascript-svg-monitor-fill {
  fill: #f0db4f;
}

.python-svg-body-fill {
  fill: #37a2d2;
}
.python-svg-leg-fill {
  fill: #eee33f;
}

.svelte-svg-all-fill {
  fill: #ff3e00;
}

.github-svg-monitor-fill {
  fill: #161614;
}
