@import 'https://fonts.googleapis.com/css?family=Suez+One';

/* TODO: make sure website is tabbable */

html {
  background-color: rgba(var(--html-color));
}

body {
  display: flex;
  flex-direction: column;

  margin: var(--body-margin-top) var(--spacer-fluid-4-32)
    var(--spacer-fluid-4-32) var(--spacer-fluid-4-32);

  padding: var(--spacer-fluid-16-40);

  font-family: var(--ff);
  font-size: var(--fs-fluid-0);
  line-height: clamp(1.5rem, calc(1.36rem + 0.71vw), 2rem);

  color: rgba(var(--grey-000), var(--medium-emphasis-text-dark));
  background-color: rgba(var(--main-background));
  border-radius: var(--radius-16);

  transition: margin-block-start 1s;
}

h1 {
  font-size: var(--fs-fluid-3);
}
h2 {
  font-size: var(--fs-fluid-2);
}
h3 {
  font-size: var(--fs-fluid-1);
}

h5 {
  font-size: var(--fs-fluid--1);
}
h6 {
  font-size: var(--fs-fluid--2);
}

/* header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacer-16);

  position: relative;
}

section {
  margin-block-end: clamp(5.5rem, calc(4.64rem + 4.29vw), 8.5rem);
}
