/* TODO: make sure website is tabbable, it is as of 2023-02-06 */

.site-content-wrapper {
  display: flex;
  background-color: rgba(var(--html-color));
}

.site-content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  margin: var(--body-margin-top) var(--spacer-fluid-4-32)
    var(--spacer-fluid-4-32) var(--spacer-fluid-4-32);

  padding: var(--spacer-fluid-16-40);

  font-family: var(--ff);
  font-size: var(--fs-fluid-4);
  line-height: clamp(1.5rem, calc(1.36rem + 0.71vw), 2rem);

  color: rgba(var(--grey-000), var(--medium-emphasis-text-dark));

  transition: margin-block-start 1s;

  border-radius: var(--radius-16);
  background-color: rgba(var(--main-background));
  overflow: hidden;
}

section {
  margin-block-end: clamp(5.5rem, calc(4.64rem + 4.29vw), 8.25rem);
}

/* ------------------------------------- */

h1,
h2,
h3 {
  color: rgba(var(--text-color), var(--high-emphasis-text-dark, 1));
}

h1 {
  font-size: var(--fs-fluid-1);
}

h2 {
  font-size: var(--fs-fluid-2);
}

h3 {
  font-size: var(--fs-fluid-3);
}

h4 {
  font-size: var(--fs-fluid-4);
}

h5 {
  font-size: var(--fs-fluid-5);
}

h6 {
  font-size: var(--fs-fluid-6);
}
