*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

ul {
  padding-inline-start: 0;
}

li {
  list-style-type: none;
}

/* inline elements */

a {
  text-decoration: none;
  color: inherit;

  outline-width: 0.1rem;
  outline-style: solid;
  outline-color: transparent;
  border-radius: var(--spacer-8);
}

button {
  cursor: pointer;
  padding: 0;
}

a:focus-visible,
button:focus-visible {
  outline-offset: 0;
  outline-color: canvasText;
}

span {
  outline-color: transparent;
}
