*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

a {
  white-space: nowrap;
  display: block;
  text-decoration: none;
  text-align: center;
  color: inherit;
}

ul {
  padding-inline-start: 0;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}
