/* ------------------------------------------------------------------------------ */
/* site-wide light mode and dark mode theme variables */

/* prettier-ignore */
@media (prefers-color-scheme: light) {
  :root{
    /* css theming variables can be placed here for a css fallback implementation for light/dark mode incase javascript fails */
    --i-will-leave-it-empty: 0;
  }
}

/* prettier-ignore */
@media (prefers-color-scheme: dark) {
  :root{
    /* css theming variables can be placed here for a css fallback implementation for light/dark mode incase javascript fails */
    --i-will-leave-it-empty: 0;
  }
}

/* prettier-ignore */
[color-scheme='light'] {

  --body-margin-top: var(--spacer-32);
  --main-background: #fbfcff;

  --logo-remaining-letters-color: 40,42,54;
  --nav-link-text-color: var(--grey-500);

  --text-color: var(--grey-1000);

  --btn-primary-text-color: var(--grey-000);

  
    /* --btn-text-opacity-light: 1;
  --btn-text-opacity: var(--btn-text-opacity-light); */
  




  /* light / dark icon variables */
  /* making the assumption the user prefers light mode */
  --svg-background-color: skyblue;
  --svg-angle-day: 0deg;
  --svg-angle-night: 90deg;
  --svg-transition-duration: 2s;
  animation: sunRise 2s;


  /* offset-x | offset-y | blur-radius | spread-radius | color */
  --box-shadow-rest:  3px 3px 6px 2px rgba(204, 219, 232, 0.5), -3px -3px 6px 2px rgba(255, 255, 255, 0.5);
  --box-shadow-hover:  0px 14px 28px rgba(204, 219, 232, 1), 0px 10px 10px rgba(255, 255, 255, 1);
  --box-shadow-active: 1px 1px 3px rgba(0, 0, 0, 0.12), 1px 1px 2px rgba(0, 0, 0, 0.24);
  
}

/* prettier-ignore */
[color-scheme='dark'] {
  
  /* Light text opacity on dark backgrounds from material design guidelines */
  --high-emphasis-text-dark: 0.87;
  --medium-emphasis-text-dark: 0.60;
  --low-emphasis-text-dark: 0.38;

  --dp-00-dark: 0%;
  --dp-01-dark: 5%;
  --dp-02-dark: 7%;
  --dp-03-dark: 8%;
  --dp-04-dark: 9%;
  --dp-05-dark: 11%;
  --dp-06-dark: 12%;
  --dp-07-dark: 14%;
  --dp-08-dark: 15%;
  --dp-09-dark: 16%;
  
  --body-margin-top: var(--spacer-48);
  --main-background: #121212;

  --logo-remaining-letters-color: var(--grey-025), var(--high-emphasis-text-dark);
  --nav-link-text-color: var(--grey-000), var(--low-emphasis-text-dark);

  --text-color: var(--grey-000), var(--medium-emphasis-text-dark);
  

  --btn-primary-text-color: var(--grey-900);



  /* light / dark icon variables */
  --svg-angle-day: -90deg;
  --svg-angle-night: 0deg;
  --svg-background-color: #000;
  --svg-transition-duration: 2s;
  animation: sunSet 2s;


  /* offset-x | offset-y | blur-radius | spread-radius | color */
  --box-shadow-rest: none;
  --box-shadow-hover: none;
  --box-shadow-active: rgba(0, 0, 0, 1) 1px 1px 3px, rgba(0, 0, 0, 1) 1px 1px 2px;
}
