<p>About</p>
<p>In 2018, I set out to become a Fullstack developer <em class="joke">- good thing I didn't know what that meant</em>. I share more details on the <a href="/about" class="link">About Me</a> page. </p>