

<section class="blog-section">
  <h1 class="page-title">Articles</h1>
  <h2 class="page-title">Articles</h2>

  <div class="articles">
    <article class="article">
      <div class="article__header">
        <h2 class="article__title">Article title</h2>
        <h5 class="article__date">2023/02/03</h5>
      </div>
      <div class="article__content">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere voluptas id officia aliquam libero. Numquam cum magnam rerum tempora officiis.</p>
      </div>
      <div class="article__tags">
        <a class="btn html tag" href="/">HTML</a>
        <a class="btn btn-outlined-primary css tag" href="/">CSS</a>
      </div>
    </article>

    <article class="article">
      <div class="article__header">
        <h2 class="article__title">Article title</h2>
        <span class="article__date">2023/02/03</span>
      </div>
      <div class="article__content">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere voluptas id officia aliquam libero. Numquam cum magnam rerum tempora officiis.</p>
      </div>
      <div class="article__tags">
        <a class="btn html tag" href="/">HTML</a>
        <a class="btn btn-outlined-primary css tag" href="/">CSS</a>
      </div>
    </article>
  </div>
</section>