

<section class="blog-section">
  <div class="blog">
    <div class="blog__header">
      <h1 class="blog__title">Blog title</h1>
      <span class="blog__date">2023/02/03</span>
    </div>
    <div class="blog__content">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere voluptas id officia aliquam libero. Numquam cum magnam rerum tempora officiis.</p>
    </div>
    <div class="blog__tags">
      <a class="html tag" href="/">HTML</a>
      <a class="css tag" href="/">CSS</a>
    </div>
  </div>
</section>