

<article class="card">
  <img class="card__image" src='/images/Naruto.png' alt='' />
  <div class="card__info">
    <div class="card__header">
      <h1 class="card__title">Nazar K. I.</h1>
      <p class="card__subtitle"><!-- Fullstack Developer --></p>
    </div>
    <div class="card__body">
      <p class="card__copy-title">Hey👋</p>
      <p class="card__copy">welcome to my little spot on the web. The mission of this website is to showcase my skill set, through my <a href="/portfolio" class="link">Portfolio</a>, to potential employers. It's also a place for me to <a href="/blog" class="link">Blog</a> about what I am learning and to reference it in the future.</p>
    </div>
    <div class="card__footer">
      <a class="btn btn-primary" href="">View Resume</a>
      <a class="btn contact" href="">Contact</a>
    </div>
  </div>
</article>
