<article class="profile-card">

    <div class="profile-card__info-and-buttons">
      <div class="profile-card__buttons">

      </div>
    </div>
  
</article>

<article class="card">
  <img class="card__image" src='/images/Naruto.png' alt='' />
<div class="card__info-holder">
  <div class="card__header">
    <h1 class="card__title">Nazar K. I.</h1>
    <h4 class="card__subtitle">Fullstack Developer</h4>
  </div>
  <div class="card__body">
    <p class="card__copy">Hey!👋, welcome to my little spot on the web. This website show cases my UX/UI Design, Frontend and Backend skill sets </p>
  </div>
  <div class="card__footer">
    <a class="btn btn-primary" href="">View Resume</a>
    <a class="btn btn-secondary" href="">Contact</a>
  </div>
</div>
</article>