
<form action="" method="POST" class="create-blogPost">
  <h2>Creating New Blog Post</h2>
  
  <label for="title">Title:
    <input name="title" type="text" id="title" required>
  </label>

  <label for="description">Description
    <textarea name="description" id="description" cols="30" rows="5" required></textarea>
  </label>
  
  <label for="body">Body
    <textarea name="body" id="body" cols="30" rows="10" required></textarea>
  </label>
  
  <label for="tags">Language Tag Keywords
    <input name="tags" type="text" required>
  </label>
  
  <button type="submit" class="btn">Create</button>
</form>


