<header>
  <h1 class='Logo'><a href='/index' class='jump'>NazCodeland</a></h1>
  <nav>
    <ul class='menu'>
      <li><a href=''>Home</a></li>
      <li><a href=''>About Me</a></li>
      <li><a href=''>Portfolio</a>
        <ul class='nested-menu'>
          <li>UX/UI Design</li>
          <li>Web Development</li>
        </ul></li>
      <li><a href=''>Contact</a></li>
      <li><a href=''>Blog</a></li>
      <li><a href=''>Sign Up</a></li>
      <li><a href=''>Sign In</a></li>
    </ul>
  </nav>
</header>