<header>
  <h1 class='Logo'><a href='/' class='jump'>NazCodeland</a></h1>
  <nav>
    <ul class='menu'>
      <li><a href='/'>Home</a></li>
      <li><a href='/about'>About Me</a></li>
      <li><a href='/portfolio'>Portfolio</a>
        <ul class='nested-menu'>
          <li><a href="/design">UX/UI Design</a></li>
          <li><a href="/development">Web Development</a></li>
        </ul></li>
      <li><a href='/contact'>Contact</a></li>
      <li><a href='/blog'>Blog</a></li>
      <li><a href='/signUp'>Sign Up</a></li>
      <li><a href='/signIn'>Sign In</a></li>
    </ul>
  </nav>
</header>