<!-- <p class="palletes-title">Contrast Themes:</p> -->
<div class="palettes">
  <span class="palette mainPalette"></span>
  <span class="palette aquatic"></span>
  <span class="palette desert"></span>
  <span class="palette dusk"></span>
  <span class="palette night"></span>
</div>