<div class="palettes">
  <button name="mainPalette" class="palette mainPalette"></button>
  <button name="aquatic" class="palette aquatic"></button>
  <button name="desert" class="palette desert"></button>
  <button name="dusk" class="palette dusk"></button>
  <button name="night" class="palette night"></button>
</div>