<div class="palettes">
  <button type="button" name="mainPalette" class="palette mainPalette"></button>
  <button type="button" name="desert" class="palette desert"></button>
  <button type="button" name="dusk" class="palette dusk"></button>
  <button type="button" name="night-sky" class="palette night-sky"></button>
</div>