
  <a href="/{{this.href}}" class="skill-card">
    <header class="skill-card__header">
      {{{this.svg}}}
      <h3 class="skill-card__title"><span>{{this.name}}</span></h3>
    </header>
    <div class="skill-card__content">
      <div class="skill-card__body">
        <p class="skill-card__copy">{{this.copy}}</p>
      </div>
    </div>
  </a>
