/*  base btn turns into secondary upon :hover
secondary turns into primary upon :hover
*/

.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;

  color: var(--btn-text-color);
  outline-width: 0.125rem;
  outline-style: solid;
  outline-color: transparent;
  border-radius: var(--spacer-8);

  min-inline-size: 110px;
  padding: var(--spacer-8) var(--spacer-16);

  box-shadow: var(--box-shadow-default);
  transition: ease-in-out transform 0.15s;
}

.btn:is(:hover, :focus) {
  outline-color: var(--primary-color);
  box-shadow: var(--box-shadow-hover);
  transform: var(--scale-hover);
}

.btn:active {
  box-shadow: var(--box-shadow-active);
  transform: var(--scale-active);
  outline: none;
}

.btn-filled-primary {
  --btn-text-color: var(--primary-color-text);
  background-color: var(--primary-color);
}

.btn-filled-primary:is(:hover, :focus) {
  outline-color: var(--outline-default);
}

.btn-outlined-primary {
  outline-color: var(--primary-color);
}

.btn-outlined-primary:is(:hover, :focus) {
  --btn-text-color: var(--primary-color-text);
  background-color: var(--primary-color);
}

.btn-disabled {
}
