.link {
  display: inline-block;
  position: relative;
  z-index: 1;
  outline: none;
}

.link:is(:hover, :focus) {
  color: rgba(var(--primary-color-text));
}

.link::before {
  content: '';
  position: absolute;
  inset-block-end: 0;

  inline-size: 100%;
  block-size: 2px;

  background-color: rgba(var(--primary-color));
  transition: block-size 0.2s;
}

.link:is(:hover, :focus)::before {
  block-size: 100%;
  background-color: rgba(var(--primary-color));
  z-index: -1;
}
