.logo {
  white-space: nowrap;
}

.logo .first-letter {
  font-family: var(--ff-logo-first-letter);
  font-size: var(--fs-logo-first-letter);

  /* desktop */
  /* line-height: 2; */

  color: rgba(var(--primary-color));
}

.logo span {
  display: inline-block;

  font-family: var(--ff-logo-excluding-first-letter);
  font-size: var(--fs-logo-remaining-letters);
  font-weight: var(--fw-900);

  /* desktop */
  /* letter-spacing: 4; */

  color: rgba(var(--logo-remaining-letters-color));

  box-shadow: var(--box-shadow-rest);
  transition: transform 0.2s;
}

.logo span:is(:hover, :focus) {
  line-height: 2;
  text-transform: uppercase;
  transform: translateY(-20px) scale(2) rotate(20deg);
}
