/* @font-face {
  font-family: 'Vollkorn';
  src: url('../fonts/Vollkorn//Something.ttf') format('truetype');
} */

.logo .first-letter {
  font-family: var(--ff-logo-first-letter);
  color: var(--primary-color);
  font-size: var(--fs-logo-first-letter);
  line-height: 2;
}

.logo span {
  display: inline-block;
  font-family: var(--ff-logo-excluding-first-letter);
  letter-spacing: 4;
  font-size: var(--fs-logo-remaining-letters);
  font-weight: var(--fw-900);
  color: rgba(var(--logo-remaining-letters-color));
  box-shadow: var(--box-shadow-rest);
  transition: transform 0.2s;
}

.logo span:is(:hover, :focus) {
  line-height: 2;
  text-transform: uppercase;
  transform: translateY(-20px) scale(2) rotate(20deg);
}
