.hamburger-and-logo,
.menu-and-theme-switcher {
  display: flex;
  place-items: center;
  gap: 1rem;
}

.menu-and-theme-switcher {
  gap: 3rem;
}

.menu {
  display: flex;
  gap: var(--spacer-16);
}

.hamburger {
  stroke: rgba(var(--hamburger-stroke-color));
}

.menu li {
  inline-size: 110px;
  --btn-text-color: var(--nav-link-text-color);
}

.menu a {
  outline: none;
}

.nested-menu {
  display: none;
}

/* related styles located in elements/button.css */

@media (max-width: 1100px) {
  .menu {
    display: none;
  }
}
