.menu {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 1rem;
  font-size: 1.2rem;
}

.menu li {
  inline-size: 110px;
}

.menu a {
  color: #666;
}

.nested-menu {
  display: none;
}

/* related styles located in elements/button.css */
