.hamburger-and-logo,
.menu-and-theme-switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacer-fluid-16-32);
}

.hamburger {
  stroke: rgba(var(--hamburger-stroke-color));
}

.menu-and-theme-switcher {
  gap: clamp(1rem, calc(-6.47rem + 9.41vw), 2rem);
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: var(--spacer-fluid-16-32);
}

.menu a {
  outline: none;
  position: relative;
  color: rgba(var(--nav-link-text-color));
}
.menu a::before {
  content: '';
  position: absolute;
  inset-inline-start: 50%;
  inset-block-end: 0;

  inline-size: 0;
  block-size: 2px;
  background-color: rgba(var(--primary-color));
  transition: inline-size 0.3s, left 0.3s;
}

.menu a:is(:hover, :focus)::before {
  inline-size: 100%;
  inset-inline-start: 0;
}

/* .menu a::after {
  content: '';
  position: absolute;
  inset-inline-end: -6px;
  inset-block-end: -1px;
  inline-size: 2px;
  block-size: 2px;
  border: 2px solid transparent;
  opacity: 0;
  transition-delay: 0.3s;
}

.menu a:is(:hover, :focus)::after {
  border-inline-start: 4px solid rgba(var(--primary-color));
  opacity: 1;
} */

.nested-menu {
  display: none;
}

/* related styles located in elements/button.css */

/* @media (max-width: 1131px) {
  .menu {
    display: none;
  }
} */
