.introduction-section {
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.profile {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin: 32px;
  border-radius: 16px;
  padding: 40px;
}
