.introduction-section {
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.profile-page {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin: var(--spacer-32);
  border-radius: var(--spacer-16);
  padding: var(--spacer-40);
}
