.theme-switcher {
  border-radius: 50%;
  margin: 0 0 0 auto;

  cursor: pointer;
  overflow: hidden;
}

.day-and-night-svg-container {
  position: relative;
  min-inline-size: 50px;
  min-block-size: 50px;

  background-color: var(--svg-background-color);
  transition: background-color 2s;
}

.common-svg-styles {
  position: absolute;

  transform-origin: 50% 100px;

  /* prettier-ignore */
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  /* prettier-ignore */
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  /* prettier-ignore */
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: var(--svg-transition-duration);
}

.day-svg {
  transform: rotate(var(--svg-angle-day));
}

.night-svg {
  transform: rotate(var(--svg-angle-night));
}

/* called from  prefers-color-scheme: light */
@keyframes sunRise {
  40% {
    --svg-background-color: #e67451;
    /* --svg-background-color: #f7cd5d; */
  }
  80% {
    --svg-background-color: skyblue;
  }
}

/* called from  prefers-color-scheme: dark */
@keyframes sunSet {
  5% {
    --svg-background-color: #e67451;
  }
}

/* ------------------------------------------------------------------------------ */
/* day svg icon  */

.small-cloud {
  animation: fastCloud 10s infinite linear;
}

@keyframes fastCloud {
  from {
    transform: translateX(-10px);
  }
  to {
    transform: translateX(45px);
  }
}

.big-cloud {
  animation: slowCloud 15s infinite linear;
}

@keyframes slowCloud {
  from {
    transform: translate(-40px);
  }
  to {
    transform: translate(30px);
  }
}

/* ------------------------------------------------------------------------------ */
/* night svg icon */

.star01 {
  fill: #ffffff;
  animation: blink-animation 1s steps(2, start) infinite;
}
.star02 {
  fill: var(--primary-color);
  animation: blink-animation 2s steps(5, start) infinite;
}

.star03 {
  fill: #ffffff;
  animation: blink-animation 3s steps(8, start) infinite;
}
.star04 {
  fill: var(--primary-color);
  animation: blink-animation 4s steps(10, start) infinite;
}

.star05 {
  fill: #ffffff;
  animation: blink-animation 7s steps(10, start) infinite;
}
.star06,
.star09 {
  fill: var(--primary-color);
  animation: blink-animation 6s steps(12, start) infinite;
}
.star07,
.star08 {
  fill: var(--primary-color);
  animation: blink-animation 2s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
