.what-I-do {
  margin-block-end: var(--spacer-48);
  text-decoration: 2px double underline var(--primary-color);
  font-size: var(--fs-l);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacer-48);
}
