.what-I-do {
  color: rgba(var(--grey-000), var(--high-emphasis-text-dark));
  font-size: var(--fs-l);
  text-decoration: 2px double underline rgba(var(--primary-color));
  margin-block-end: var(--spacer-48);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacer-48);
}
